@tailwind base;
@tailwind components;
@tailwind utilities;

/* Toggle */
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }
  

/*Buttons*/
@layer components {
    .btn-primary {
        @apply p-2 bg-LightGrayishOrange shadow-md border-b-4 border-GrayishOrange cursor-pointer rounded-lg hover:bg-White;
    }

    .btn-secondary {
        @apply p-2 bg-VeryDarkCyan dark:bg-KeyBackground border-b-4 border-MainBackground cursor-pointer rounded-lg hover:bg-DarkModerateCyan;
    }

    .btn-tertiary {
        @apply p-2 bg-DarkOrange dark:bg-Red border-b-4 border-MainBackground cursor-pointer rounded-lg hover:bg-Orange;
    }
}